In [3]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\suma\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\suma\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\suma\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\suma\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: setuptools in c:\users\suma\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: scipy>=1.2.1 in c:\users\suma\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\suma\anaconda3\lib\site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\suma\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\suma\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\suma\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\suma\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\suma\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\suma\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: six in c:\users\suma\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\suma\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\suma\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)

In [5]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder
titanic = pd.read_csv("F:\\Data Science\\Data Sets\\Titanic_Apriori.csv")
titanic

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [9]:
df = pd.get_dummies(titanic)
df

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
2196,0,0,0,1,1,0,1,0,0,1
2197,0,0,0,1,1,0,1,0,0,1
2198,0,0,0,1,1,0,1,0,0,1
2199,0,0,0,1,1,0,1,0,0,1
2200,0,0,0,1,1,0,1,0,0,1

In [10]:
titanic.dtypes

Class       object
Gender      object
Age         object
Survived    object
dtype: object

In [11]:
df.dtypes

Class_1st        uint8
Class_2nd        uint8
Class_3rd        uint8
Class_Crew       uint8
Gender_Female    uint8
Gender_Male      uint8
Age_Adult        uint8
Age_Child        uint8
Survived_No      uint8
Survived_Yes     uint8
dtype: object

In [12]:
frequent_itemsets = apriori(df,min_support=0.4,use_colnames=True)
frequent_itemsets

    support                               itemsets
0  0.402090                           (Class_Crew)
1  0.786461                          (Gender_Male)
2  0.950477                            (Age_Adult)
3  0.676965                          (Survived_No)
4  0.402090                (Class_Crew, Age_Adult)
5  0.757383               (Gender_Male, Age_Adult)
6  0.619718             (Gender_Male, Survived_No)
7  0.653339               (Survived_No, Age_Adult)
8  0.603816  (Gender_Male, Survived_No, Age_Adult)

In [13]:
rules =association_rules(frequent_itemsets, metric = "lift",min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
1,(Age_Adult),(Class_Crew),0.950477,0.402090,0.402090,0.423040,1.052103,0.019913,1.036311
2,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
3,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116
4,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
5,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
6,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
7,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,0.009900,1.033317
8,"(Gender_Male, Survived_No)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
9,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
10,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
11,(Gender_Male),"(Survived_No, Age_Adult)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
12,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
13,(Age_Adult),"(Gender_Male, Survived_No)",0.950477,0.619718,0.603816,0.635277,1.025106,0.014788,1.042660

In [14]:
rules.sort_values("lift",ascending=False).head(15)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
9,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
12,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
10,"(Survived_No, Age_Adult)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
11,(Gender_Male),"(Survived_No, Age_Adult)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
4,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
5,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
0,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
1,(Age_Adult),(Class_Crew),0.950477,0.402090,0.402090,0.423040,1.052103,0.019913,1.036311
8,"(Gender_Male, Survived_No)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
13,(Age_Adult),"(Gender_Male, Survived_No)",0.950477,0.619718,0.603816,0.635277,1.025106,0.014788,1.042660
6,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
7,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,0.009900,1.033317
2,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
3,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116

In [15]:
claimants = pd.read_csv("F:\\Data Science\\Data Sets\\claimants.csv")
claimants

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [16]:
claimants.isnull().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [17]:
claimants.shape

(1340, 7)

In [18]:
claimants = claimants.dropna()

In [19]:
claimants.shape

(1096, 7)

In [20]:
claimants['CLMAGE1']=pd.cut(x = claimants['CLMAGE'], bins = [-1,25,50,100],right=True,labels = ['Student','Working','Aged'])
claimants

<ipython-input-20-4a210fbc6ad9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  claimants['CLMAGE1']=pd.cut(x = claimants['CLMAGE'], bins = [-1,25,50,100],right=True,labels = ['Student','Working','Aged'])

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS  CLMAGE1
0           5         0     0.0       1.0       0.0    50.0  34.940  Working
1           3         1     1.0       0.0       0.0    18.0   0.891  Student
2          66         1     0.0       1.0       0.0     5.0   0.330  Student
3          70         0     0.0       1.0       1.0    31.0   0.037  Working
4          96         1     0.0       1.0       0.0    30.0   0.038  Working
...       ...       ...     ...       ...       ...     ...     ...      ...
1334    34104         1     1.0       1.0       0.0    16.0   0.060  Student
1336    34110         0     1.0       1.0       0.0    46.0   3.705  Working
1337    34113         1     1.0       1.0       0.0    39.0   0.099  Working
1338    34145         0     1.0       0.0       0.0     8.0   3.177  Student
1339    34153         1     1.0       1.0       0.0    30.0   0.688  Working

[1096 rows x 8 columns]

In [21]:
claimants = pd.get_dummies(claimants, columns=['CLMAGE1'])
claimants

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,CLMAGE1_Student,CLMAGE1_Working,CLMAGE1_Aged
0,5,0,0.0,1.0,0.0,50.0,34.940,0,1,0
1,3,1,1.0,0.0,0.0,18.0,0.891,1,0,0
2,66,1,0.0,1.0,0.0,5.0,0.330,1,0,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0,1,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0,1,0
...,...,...,...,...,...,...,...,...,...,...
1334,34104,1,1.0,1.0,0.0,16.0,0.060,1,0,0
1336,34110,0,1.0,1.0,0.0,46.0,3.705,0,1,0
1337,34113,1,1.0,1.0,0.0,39.0,0.099,0,1,0
1338,34145,0,1.0,0.0,0.0,8.0,3.177,1,0,0
1339,34153,1,1.0,1.0,0.0,30.0,0.688,0,1,0

In [22]:
claimants['LOSS1']=pd.cut(x = claimants['LOSS'], bins = [-1,50,70,174],right=True,labels = ['Low Claim','Moderate Claim','High Claim'])
claimants

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,CLMAGE1_Student,CLMAGE1_Working,CLMAGE1_Aged,LOSS1
0,5,0,0.0,1.0,0.0,50.0,34.940,0,1,0,Low Claim
1,3,1,1.0,0.0,0.0,18.0,0.891,1,0,0,Low Claim
2,66,1,0.0,1.0,0.0,5.0,0.330,1,0,0,Low Claim
3,70,0,0.0,1.0,1.0,31.0,0.037,0,1,0,Low Claim
4,96,1,0.0,1.0,0.0,30.0,0.038,0,1,0,Low Claim
...,...,...,...,...,...,...,...,...,...,...,...
1334,34104,1,1.0,1.0,0.0,16.0,0.060,1,0,0,Low Claim
1336,34110,0,1.0,1.0,0.0,46.0,3.705,0,1,0,Low Claim
1337,34113,1,1.0,1.0,0.0,39.0,0.099,0,1,0,Low Claim
1338,34145,0,1.0,0.0,0.0,8.0,3.177,1,0,0,Low Claim
1339,34153,1,1.0,1.0,0.0,30.0,0.688,0,1,0,Low Claim

In [23]:
claimants.isnull().sum()

CASENUM            0
ATTORNEY           0
CLMSEX             0
CLMINSUR           0
SEATBELT           0
CLMAGE             0
LOSS               0
CLMAGE1_Student    0
CLMAGE1_Working    0
CLMAGE1_Aged       0
LOSS1              0
dtype: int64

In [24]:
claimants = pd.get_dummies(claimants, columns=['LOSS1'])
claimants

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,CLMAGE1_Student,CLMAGE1_Working,CLMAGE1_Aged,LOSS1_Low Claim,LOSS1_Moderate Claim,LOSS1_High Claim
0,5,0,0.0,1.0,0.0,50.0,34.940,0,1,0,1,0,0
1,3,1,1.0,0.0,0.0,18.0,0.891,1,0,0,1,0,0
2,66,1,0.0,1.0,0.0,5.0,0.330,1,0,0,1,0,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0,1,0,1,0,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,34104,1,1.0,1.0,0.0,16.0,0.060,1,0,0,1,0,0
1336,34110,0,1.0,1.0,0.0,46.0,3.705,0,1,0,1,0,0
1337,34113,1,1.0,1.0,0.0,39.0,0.099,0,1,0,1,0,0
1338,34145,0,1.0,0.0,0.0,8.0,3.177,1,0,0,1,0,0
1339,34153,1,1.0,1.0,0.0,30.0,0.688,0,1,0,1,0,0

In [25]:
claimants.dtypes

CASENUM                   int64
ATTORNEY                  int64
CLMSEX                  float64
CLMINSUR                float64
SEATBELT                float64
CLMAGE                  float64
LOSS                    float64
CLMAGE1_Student           uint8
CLMAGE1_Working           uint8
CLMAGE1_Aged              uint8
LOSS1_Low Claim           uint8
LOSS1_Moderate Claim      uint8
LOSS1_High Claim          uint8
dtype: object

In [26]:

claimants['ATTORNEY NOT APPOINTED']=np.where(claimants['ATTORNEY']==0,'0','1')
claimants['ATTORNEY APPOINTED']=np.where(claimants['ATTORNEY']==0,'1','0')
claimants

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,CLMAGE1_Student,CLMAGE1_Working,CLMAGE1_Aged,LOSS1_Low Claim,LOSS1_Moderate Claim,LOSS1_High Claim,ATTORNEY NOT APPOINTED,ATTORNEY APPOINTED
0,5,0,0.0,1.0,0.0,50.0,34.940,0,1,0,1,0,0,0,1
1,3,1,1.0,0.0,0.0,18.0,0.891,1,0,0,1,0,0,1,0
2,66,1,0.0,1.0,0.0,5.0,0.330,1,0,0,1,0,0,1,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0,1,0,1,0,0,0,1
4,96,1,0.0,1.0,0.0,30.0,0.038,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,34104,1,1.0,1.0,0.0,16.0,0.060,1,0,0,1,0,0,1,0
1336,34110,0,1.0,1.0,0.0,46.0,3.705,0,1,0,1,0,0,0,1
1337,34113,1,1.0,1.0,0.0,39.0,0.099,0,1,0,1,0,0,1,0
1338,34145,0,1.0,0.0,0.0,8.0,3.177,1,0,0,1,0,0,0,1
1339,34153,1,1.0,1.0,0.0,30.0,0.688,0,1,0,1,0,0,1,0

In [27]:
claimants['Male']=np.where(claimants['CLMSEX']==0,'1','0')
claimants['Female']=np.where(claimants['CLMSEX']==0,'0','1')
claimants

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,CLMAGE1_Student,CLMAGE1_Working,CLMAGE1_Aged,LOSS1_Low Claim,LOSS1_Moderate Claim,LOSS1_High Claim,ATTORNEY NOT APPOINTED,ATTORNEY APPOINTED,Male,Female
0,5,0,0.0,1.0,0.0,50.0,34.940,0,1,0,1,0,0,0,1,1,0
1,3,1,1.0,0.0,0.0,18.0,0.891,1,0,0,1,0,0,1,0,0,1
2,66,1,0.0,1.0,0.0,5.0,0.330,1,0,0,1,0,0,1,0,1,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0,1,0,1,0,0,0,1,1,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0,1,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,34104,1,1.0,1.0,0.0,16.0,0.060,1,0,0,1,0,0,1,0,0,1
1336,34110,0,1.0,1.0,0.0,46.0,3.705,0,1,0,1,0,0,0,1,0,1
1337,34113,1,1.0,1.0,0.0,39.0,0.099,0,1,0,1,0,0,1,0,0,1
1338,34145,0,1.0,0.0,0.0,8.0,3.177,1,0,0,1,0,0,0,1,0,1
1339,34153,1,1.0,1.0,0.0,30.0,0.688,0,1,0,1,0,0,1,0,0,1

In [28]:
claimants['Wearing Seatbelt']=np.where(claimants['SEATBELT']==0,'1','0')
claimants['Not Wearing Seatbelt']=np.where(claimants['SEATBELT']==0,'0','1')
claimants

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,CLMAGE1_Student,CLMAGE1_Working,CLMAGE1_Aged,LOSS1_Low Claim,LOSS1_Moderate Claim,LOSS1_High Claim,ATTORNEY NOT APPOINTED,ATTORNEY APPOINTED,Male,Female,Wearing Seatbelt,Not Wearing Seatbelt
0,5,0,0.0,1.0,0.0,50.0,34.940,0,1,0,1,0,0,0,1,1,0,1,0
1,3,1,1.0,0.0,0.0,18.0,0.891,1,0,0,1,0,0,1,0,0,1,1,0
2,66,1,0.0,1.0,0.0,5.0,0.330,1,0,0,1,0,0,1,0,1,0,1,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0,1,0,1,0,0,0,1,1,0,0,1
4,96,1,0.0,1.0,0.0,30.0,0.038,0,1,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,34104,1,1.0,1.0,0.0,16.0,0.060,1,0,0,1,0,0,1,0,0,1,1,0
1336,34110,0,1.0,1.0,0.0,46.0,3.705,0,1,0,1,0,0,0,1,0,1,1,0
1337,34113,1,1.0,1.0,0.0,39.0,0.099,0,1,0,1,0,0,1,0,0,1,1,0
1338,34145,0,1.0,0.0,0.0,8.0,3.177,1,0,0,1,0,0,0,1,0,1,1,0
1339,34153,1,1.0,1.0,0.0,30.0,0.688,0,1,0,1,0,0,1,0,0,1,1,0

In [29]:
claimants['Insured']=np.where(claimants['CLMINSUR']==0,'0','1')
claimants['Not Insured']=np.where(claimants['CLMINSUR']==0,'1','0')
claimants

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,CLMAGE1_Student,CLMAGE1_Working,CLMAGE1_Aged,...,LOSS1_Moderate Claim,LOSS1_High Claim,ATTORNEY NOT APPOINTED,ATTORNEY APPOINTED,Male,Female,Wearing Seatbelt,Not Wearing Seatbelt,Insured,Not Insured
0,5,0,0.0,1.0,0.0,50.0,34.940,0,1,0,...,0,0,0,1,1,0,1,0,1,0
1,3,1,1.0,0.0,0.0,18.0,0.891,1,0,0,...,0,0,1,0,0,1,1,0,0,1
2,66,1,0.0,1.0,0.0,5.0,0.330,1,0,0,...,0,0,1,0,1,0,1,0,1,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0,1,0,...,0,0,0,1,1,0,0,1,1,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0,1,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,34104,1,1.0,1.0,0.0,16.0,0.060,1,0,0,...,0,0,1,0,0,1,1,0,1,0
1336,34110,0,1.0,1.0,0.0,46.0,3.705,0,1,0,...,0,0,0,1,0,1,1,0,1,0
1337,34113,1,1.0,1.0,0.0,39.0,0.099,0,1,0,...,0,0,1,0,0,1,1,0,1,0
1338,34145,0,1.0,0.0,0.0,8.0,3.177,1,0,0,...,0,0,0,1,0,1,1,0,0,1
1339,34153,1,1.0,1.0,0.0,30.0,0.688,0,1,0,...,0,0,1,0,0,1,1,0,1,0

In [30]:
claimants.dtypes

CASENUM                     int64
ATTORNEY                    int64
CLMSEX                    float64
CLMINSUR                  float64
SEATBELT                  float64
CLMAGE                    float64
LOSS                      float64
CLMAGE1_Student             uint8
CLMAGE1_Working             uint8
CLMAGE1_Aged                uint8
LOSS1_Low Claim             uint8
LOSS1_Moderate Claim        uint8
LOSS1_High Claim            uint8
ATTORNEY NOT APPOINTED     object
ATTORNEY APPOINTED         object
Male                       object
Female                     object
Wearing Seatbelt           object
Not Wearing Seatbelt       object
Insured                    object
Not Insured                object
dtype: object

In [31]:
claimants_new = claimants
claimants_new

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS,CLMAGE1_Student,CLMAGE1_Working,CLMAGE1_Aged,...,LOSS1_Moderate Claim,LOSS1_High Claim,ATTORNEY NOT APPOINTED,ATTORNEY APPOINTED,Male,Female,Wearing Seatbelt,Not Wearing Seatbelt,Insured,Not Insured
0,5,0,0.0,1.0,0.0,50.0,34.940,0,1,0,...,0,0,0,1,1,0,1,0,1,0
1,3,1,1.0,0.0,0.0,18.0,0.891,1,0,0,...,0,0,1,0,0,1,1,0,0,1
2,66,1,0.0,1.0,0.0,5.0,0.330,1,0,0,...,0,0,1,0,1,0,1,0,1,0
3,70,0,0.0,1.0,1.0,31.0,0.037,0,1,0,...,0,0,0,1,1,0,0,1,1,0
4,96,1,0.0,1.0,0.0,30.0,0.038,0,1,0,...,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,34104,1,1.0,1.0,0.0,16.0,0.060,1,0,0,...,0,0,1,0,0,1,1,0,1,0
1336,34110,0,1.0,1.0,0.0,46.0,3.705,0,1,0,...,0,0,0,1,0,1,1,0,1,0
1337,34113,1,1.0,1.0,0.0,39.0,0.099,0,1,0,...,0,0,1,0,0,1,1,0,1,0
1338,34145,0,1.0,0.0,0.0,8.0,3.177,1,0,0,...,0,0,0,1,0,1,1,0,0,1
1339,34153,1,1.0,1.0,0.0,30.0,0.688,0,1,0,...,0,0,1,0,0,1,1,0,1,0

In [32]:
claimants_new.dtypes

CASENUM                     int64
ATTORNEY                    int64
CLMSEX                    float64
CLMINSUR                  float64
SEATBELT                  float64
CLMAGE                    float64
LOSS                      float64
CLMAGE1_Student             uint8
CLMAGE1_Working             uint8
CLMAGE1_Aged                uint8
LOSS1_Low Claim             uint8
LOSS1_Moderate Claim        uint8
LOSS1_High Claim            uint8
ATTORNEY NOT APPOINTED     object
ATTORNEY APPOINTED         object
Male                       object
Female                     object
Wearing Seatbelt           object
Not Wearing Seatbelt       object
Insured                    object
Not Insured                object
dtype: object

In [33]:
claimants_new = claimants_new.drop('CASENUM',axis = 1)
claimants_new = claimants_new.drop('CLMSEX',axis = 1)
claimants_new = claimants_new.drop('CLMINSUR',axis = 1)
claimants_new = claimants_new.drop('SEATBELT',axis = 1)
claimants_new = claimants_new.drop('CLMAGE',axis = 1)
claimants_new = claimants_new.drop('ATTORNEY',axis = 1)
claimants_new = claimants_new.drop('LOSS',axis = 1)
claimants_new

,CLMAGE1_Student,CLMAGE1_Working,CLMAGE1_Aged,LOSS1_Low Claim,LOSS1_Moderate Claim,LOSS1_High Claim,ATTORNEY NOT APPOINTED,ATTORNEY APPOINTED,Male,Female,Wearing Seatbelt,Not Wearing Seatbelt,Insured,Not Insured
0,0,1,0,1,0,0,0,1,1,0,1,0,1,0
1,1,0,0,1,0,0,1,0,0,1,1,0,0,1
2,1,0,0,1,0,0,1,0,1,0,1,0,1,0
3,0,1,0,1,0,0,0,1,1,0,0,1,1,0
4,0,1,0,1,0,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,1,0,0,1,0,0,1,0,0,1,1,0,1,0
1336,0,1,0,1,0,0,0,1,0,1,1,0,1,0
1337,0,1,0,1,0,0,1,0,0,1,1,0,1,0
1338,1,0,0,1,0,0,0,1,0,1,1,0,0,1
1339,0,1,0,1,0,0,1,0,0,1,1,0,1,0

In [34]:
claimants_new.dtypes

CLMAGE1_Student            uint8
CLMAGE1_Working            uint8
CLMAGE1_Aged               uint8
LOSS1_Low Claim            uint8
LOSS1_Moderate Claim       uint8
LOSS1_High Claim           uint8
ATTORNEY NOT APPOINTED    object
ATTORNEY APPOINTED        object
Male                      object
Female                    object
Wearing Seatbelt          object
Not Wearing Seatbelt      object
Insured                   object
Not Insured               object
dtype: object

In [35]:
claimants_new['ATTORNEY NOT APPOINTED'] = claimants_new['ATTORNEY NOT APPOINTED'].astype(int)
claimants_new['ATTORNEY APPOINTED'] = claimants_new['ATTORNEY APPOINTED'].astype(int)
claimants_new['Male'] = claimants_new['Male'].astype(int)
claimants_new['Female'] = claimants_new['Female'].astype(int)
claimants_new['Wearing Seatbelt'] = claimants_new['Wearing Seatbelt'].astype(int)
claimants_new['Not Wearing Seatbelt'] = claimants_new['Not Wearing Seatbelt'].astype(int)
claimants_new['Insured'] = claimants_new['Insured'].astype(int)
claimants_new['Not Insured'] = claimants_new['Not Insured'].astype(int)
#claimants['SEATBELT'] = claimants['SEATBELT'].astype(int)

In [36]:
claimants_new.dtypes

CLMAGE1_Student           uint8
CLMAGE1_Working           uint8
CLMAGE1_Aged              uint8
LOSS1_Low Claim           uint8
LOSS1_Moderate Claim      uint8
LOSS1_High Claim          uint8
ATTORNEY NOT APPOINTED    int32
ATTORNEY APPOINTED        int32
Male                      int32
Female                    int32
Wearing Seatbelt          int32
Not Wearing Seatbelt      int32
Insured                   int32
Not Insured               int32
dtype: object

In [37]:
frequent_itemsets = apriori(claimants_new,min_support=0.4,use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.461679                                  (CLMAGE1_Student)
1   0.407847                                  (CLMAGE1_Working)
2   0.988139                                  (LOSS1_Low Claim)
3   0.472628                           (ATTORNEY NOT APPOINTED)
4   0.527372                               (ATTORNEY APPOINTED)
5   0.435219                                             (Male)
6   0.564781                                           (Female)
7   0.981752                                 (Wearing Seatbelt)
8   0.904197                                          (Insured)
9   0.458029                 (CLMAGE1_Student, LOSS1_Low Claim)
10  0.452555                (CLMAGE1_Student, Wearing Seatbelt)
11  0.410584                         (CLMAGE1_Student, Insured)
12  0.400547                 (CLMAGE1_Working, LOSS1_Low Claim)
13  0.472628          (ATTORNEY NOT APPOINTED, LOSS1_Low Claim)
14  0.515511              (ATTORNEY APPOINTED, LOSS1_Low Claim)
15  0.429745                            (LOSS1_Low Claim, Male)
16  0.558394                          (Female, LOSS1_Low Claim)
17  0.972628                (LOSS1_Low Claim, Wearing Seatbelt)
18  0.892336                         (Insured, LOSS1_Low Claim)
19  0.468066         (ATTORNEY NOT APPOINTED, Wearing Seatbelt)
20  0.439781                  (ATTORNEY NOT APPOINTED, Insured)
21  0.513686             (ATTORNEY APPOINTED, Wearing Seatbelt)
22  0.464416                      (Insured, ATTORNEY APPOINTED)
23  0.426095                           (Wearing Seatbelt, Male)
24  0.555657                         (Female, Wearing Seatbelt)
25  0.519161                                  (Female, Insured)
26  0.886861                        (Insured, Wearing Seatbelt)
27  0.449818  (CLMAGE1_Student, LOSS1_Low Claim, Wearing Sea...
28  0.406934        (CLMAGE1_Student, Insured, LOSS1_Low Claim)
29  0.401460       (CLMAGE1_Student, Insured, Wearing Seatbelt)
30  0.468066  (ATTORNEY NOT APPOINTED, LOSS1_Low Claim, Wear...
31  0.439781  (ATTORNEY NOT APPOINTED, Insured, LOSS1_Low Cl...
32  0.504562  (ATTORNEY APPOINTED, LOSS1_Low Claim, Wearing ...
33  0.452555     (Insured, ATTORNEY APPOINTED, LOSS1_Low Claim)
34  0.421533          (LOSS1_Low Claim, Wearing Seatbelt, Male)
35  0.551095        (Female, LOSS1_Low Claim, Wearing Seatbelt)
36  0.512774                 (Female, Insured, LOSS1_Low Claim)
37  0.877737       (Insured, LOSS1_Low Claim, Wearing Seatbelt)
38  0.435219  (ATTORNEY NOT APPOINTED, Insured, Wearing Seat...
39  0.451642    (Insured, ATTORNEY APPOINTED, Wearing Seatbelt)
40  0.510949                (Female, Insured, Wearing Seatbelt)
41  0.435219  (ATTORNEY NOT APPOINTED, Insured, LOSS1_Low Cl...
42  0.442518  (Insured, ATTORNEY APPOINTED, LOSS1_Low Claim,...
43  0.506387  (Female, Insured, LOSS1_Low Claim, Wearing Sea...

In [45]:
frequent_itemsets = apriori(claimants_new,min_support=0.4,use_colnames=True)
frequent_itemsets

     support                                           itemsets
0   0.461679                                  (CLMAGE1_Student)
1   0.407847                                  (CLMAGE1_Working)
2   0.988139                                  (LOSS1_Low Claim)
3   0.472628                           (ATTORNEY NOT APPOINTED)
4   0.527372                               (ATTORNEY APPOINTED)
5   0.435219                                             (Male)
6   0.564781                                           (Female)
7   0.981752                                 (Wearing Seatbelt)
8   0.904197                                          (Insured)
9   0.458029                 (CLMAGE1_Student, LOSS1_Low Claim)
10  0.452555                (CLMAGE1_Student, Wearing Seatbelt)
11  0.410584                         (CLMAGE1_Student, Insured)
12  0.400547                 (CLMAGE1_Working, LOSS1_Low Claim)
13  0.472628          (ATTORNEY NOT APPOINTED, LOSS1_Low Claim)
14  0.515511              (ATTORNEY APPOINTED, LOSS1_Low Claim)
15  0.429745                            (LOSS1_Low Claim, Male)
16  0.558394                          (Female, LOSS1_Low Claim)
17  0.972628                (LOSS1_Low Claim, Wearing Seatbelt)
18  0.892336                         (Insured, LOSS1_Low Claim)
19  0.468066         (ATTORNEY NOT APPOINTED, Wearing Seatbelt)
20  0.439781                  (ATTORNEY NOT APPOINTED, Insured)
21  0.513686             (ATTORNEY APPOINTED, Wearing Seatbelt)
22  0.464416                      (Insured, ATTORNEY APPOINTED)
23  0.426095                           (Wearing Seatbelt, Male)
24  0.555657                         (Female, Wearing Seatbelt)
25  0.519161                                  (Female, Insured)
26  0.886861                        (Insured, Wearing Seatbelt)
27  0.449818  (CLMAGE1_Student, LOSS1_Low Claim, Wearing Sea...
28  0.406934        (CLMAGE1_Student, Insured, LOSS1_Low Claim)
29  0.401460       (CLMAGE1_Student, Insured, Wearing Seatbelt)
30  0.468066  (ATTORNEY NOT APPOINTED, LOSS1_Low Claim, Wear...
31  0.439781  (ATTORNEY NOT APPOINTED, Insured, LOSS1_Low Cl...
32  0.504562  (ATTORNEY APPOINTED, LOSS1_Low Claim, Wearing ...
33  0.452555     (Insured, ATTORNEY APPOINTED, LOSS1_Low Claim)
34  0.421533          (LOSS1_Low Claim, Wearing Seatbelt, Male)
35  0.551095        (Female, LOSS1_Low Claim, Wearing Seatbelt)
36  0.512774                 (Female, Insured, LOSS1_Low Claim)
37  0.877737       (Insured, LOSS1_Low Claim, Wearing Seatbelt)
38  0.435219  (ATTORNEY NOT APPOINTED, Insured, Wearing Seat...
39  0.451642    (Insured, ATTORNEY APPOINTED, Wearing Seatbelt)
40  0.510949                (Female, Insured, Wearing Seatbelt)
41  0.435219  (ATTORNEY NOT APPOINTED, Insured, LOSS1_Low Cl...
42  0.442518  (Insured, ATTORNEY APPOINTED, LOSS1_Low Claim,...
43  0.506387  (Female, Insured, LOSS1_Low Claim, Wearing Sea...

98% of customers are wearing seatbelt
90% of customers are insured
41% of students are insured
50% are female students, wearing seatbelt and low claim

In [46]:
rules =association_rules(frequent_itemsets, metric = "lift",min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(CLMAGE1_Student),(LOSS1_Low Claim),0.461679,0.988139,0.458029,0.992095,1.004004,0.001826,1.500456
1,(LOSS1_Low Claim),(CLMAGE1_Student),0.988139,0.461679,0.458029,0.463527,1.004004,0.001826,1.003445
2,(CLMAGE1_Student),(Wearing Seatbelt),0.461679,0.981752,0.452555,0.980237,0.998457,-0.000699,0.923358
3,(Wearing Seatbelt),(CLMAGE1_Student),0.981752,0.461679,0.452555,0.460967,0.998457,-0.000699,0.998679
4,(CLMAGE1_Student),(Insured),0.461679,0.904197,0.410584,0.889328,0.983556,-0.006865,0.865648
...,...,...,...,...,...,...,...,...,...
157,"(LOSS1_Low Claim, Wearing Seatbelt)","(Female, Insured)",0.972628,0.519161,0.506387,0.520638,1.002846,0.001437,1.003082
158,(Female),"(Insured, LOSS1_Low Claim, Wearing Seatbelt)",0.564781,0.877737,0.506387,0.896607,1.021499,0.010658,1.182510
159,(Insured),"(Female, LOSS1_Low Claim, Wearing Seatbelt)",0.904197,0.551095,0.506387,0.560040,1.016232,0.008088,1.020332
160,(LOSS1_Low Claim),"(Female, Insured, Wearing Seatbelt)",0.988139,0.510949,0.506387,0.512465,1.002968,0.001498,1.003110
161,(Wearing Seatbelt),"(Female, Insured, LOSS1_Low Claim)",0.981752,0.512774,0.506387,0.515799,1.005900,0.002970,1.006249

In [47]:
rules.sort_values("confidence",ascending=False).head(15)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
55,"(ATTORNEY NOT APPOINTED, Wearing Seatbelt)",(LOSS1_Low Claim),0.468066,0.988139,0.468066,1.000000,1.012004,0.005552,inf
60,"(ATTORNEY NOT APPOINTED, Insured)",(LOSS1_Low Claim),0.439781,0.988139,0.439781,1.000000,1.012004,0.005216,inf
121,"(ATTORNEY NOT APPOINTED, Insured, Wearing Seat...",(LOSS1_Low Claim),0.435219,0.988139,0.435219,1.000000,1.012004,0.005162,inf
8,(ATTORNEY NOT APPOINTED),(LOSS1_Low Claim),0.472628,0.988139,0.472628,1.000000,1.012004,0.005606,inf
37,"(CLMAGE1_Student, Wearing Seatbelt)",(LOSS1_Low Claim),0.452555,0.988139,0.449818,0.993952,1.005883,0.002631,1.961071
0,(CLMAGE1_Student),(LOSS1_Low Claim),0.461679,0.988139,0.458029,0.992095,1.004004,0.001826,1.500456
85,"(Female, Wearing Seatbelt)",(LOSS1_Low Claim),0.555657,0.988139,0.551095,0.991790,1.003695,0.002029,1.444708
42,"(CLMAGE1_Student, Insured)",(LOSS1_Low Claim),0.410584,0.988139,0.406934,0.991111,1.003008,0.001220,1.334398
149,"(Female, Insured, Wearing Seatbelt)",(LOSS1_Low Claim),0.510949,0.988139,0.506387,0.991071,1.002968,0.001498,1.328467
17,(Wearing Seatbelt),(LOSS1_Low Claim),0.981752,0.988139,0.972628,0.990706,1.002598,0.002521,1.276277
54,"(ATTORNEY NOT APPOINTED, LOSS1_Low Claim)",(Wearing Seatbelt),0.472628,0.981752,0.468066,0.990347,1.008755,0.004063,1.890511
57,(ATTORNEY NOT APPOINTED),"(LOSS1_Low Claim, Wearing Seatbelt)",0.472628,0.972628,0.468066,0.990347,1.018218,0.008375,2.835766
20,(ATTORNEY NOT APPOINTED),(Wearing Seatbelt),0.472628,0.981752,0.468066,0.990347,1.008755,0.004063,1.890511
97,"(Insured, Wearing Seatbelt)",(LOSS1_Low Claim),0.886861,0.988139,0.877737,0.989712,1.001592,0.001395,1.152920
124,"(ATTORNEY NOT APPOINTED, Insured)","(LOSS1_Low Claim, Wearing Seatbelt)",0.439781,0.972628,0.435219,0.989627,1.017477,0.007476,2.638686

Low claim shows that attorney is not appointed
Wearing seatbelt people does not appoint attorney
Low claim and wearing seatbelt people does not appoint attorney
Insured, Low claim and Wearing seatbelt people does not appoint attorney.

In [48]:
rules.sort_values("lift",ascending=False).head(15)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
130,(ATTORNEY NOT APPOINTED),"(Insured, LOSS1_Low Claim, Wearing Seatbelt)",0.472628,0.877737,0.435219,0.920849,1.049117,0.020376,1.544686
123,"(Insured, LOSS1_Low Claim, Wearing Seatbelt)",(ATTORNEY NOT APPOINTED),0.877737,0.472628,0.435219,0.495842,1.049117,0.020376,1.046046
62,"(Insured, LOSS1_Low Claim)",(ATTORNEY NOT APPOINTED),0.892336,0.472628,0.439781,0.492843,1.042771,0.018038,1.039859
63,(ATTORNEY NOT APPOINTED),"(Insured, LOSS1_Low Claim)",0.472628,0.892336,0.439781,0.930502,1.042771,0.018038,1.549169
126,"(ATTORNEY NOT APPOINTED, Wearing Seatbelt)","(Insured, LOSS1_Low Claim)",0.468066,0.892336,0.435219,0.929825,1.042012,0.017547,1.534215
127,"(Insured, LOSS1_Low Claim)","(ATTORNEY NOT APPOINTED, Wearing Seatbelt)",0.892336,0.468066,0.435219,0.487730,1.042012,0.017547,1.038387
125,"(ATTORNEY NOT APPOINTED, LOSS1_Low Claim)","(Insured, Wearing Seatbelt)",0.472628,0.886861,0.435219,0.920849,1.038324,0.016064,1.429411
104,"(Insured, Wearing Seatbelt)",(ATTORNEY NOT APPOINTED),0.886861,0.472628,0.435219,0.490741,1.038324,0.016064,1.035567
105,(ATTORNEY NOT APPOINTED),"(Insured, Wearing Seatbelt)",0.472628,0.886861,0.435219,0.920849,1.038324,0.016064,1.429411
128,"(Insured, Wearing Seatbelt)","(ATTORNEY NOT APPOINTED, LOSS1_Low Claim)",0.886861,0.472628,0.435219,0.490741,1.038324,0.016064,1.035567
23,(Insured),(ATTORNEY NOT APPOINTED),0.904197,0.472628,0.439781,0.486377,1.029092,0.012432,1.026770
64,(Insured),"(ATTORNEY NOT APPOINTED, LOSS1_Low Claim)",0.904197,0.472628,0.439781,0.486377,1.029092,0.012432,1.026770
61,"(ATTORNEY NOT APPOINTED, LOSS1_Low Claim)",(Insured),0.472628,0.904197,0.439781,0.930502,1.029092,0.012432,1.378498
22,(ATTORNEY NOT APPOINTED),(Insured),0.472628,0.904197,0.439781,0.930502,1.029092,0.012432,1.378498
122,"(ATTORNEY NOT APPOINTED, LOSS1_Low Claim, Wear...",(Insured),0.468066,0.904197,0.435219,0.929825,1.028343,0.011995,1.365192

People who did not appoint attorney are insured/wearing seatbelt/low claim

In [49]:
rules.sort_values("lift",ascending=True).head(15)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
136,"(Insured, LOSS1_Low Claim, Wearing Seatbelt)",(ATTORNEY APPOINTED),0.877737,0.527372,0.442518,0.504158,0.955981,-0.020376,0.953182
145,(ATTORNEY APPOINTED),"(Insured, LOSS1_Low Claim, Wearing Seatbelt)",0.527372,0.877737,0.442518,0.839100,0.955981,-0.020376,0.759870
76,(ATTORNEY APPOINTED),"(Insured, LOSS1_Low Claim)",0.527372,0.892336,0.452555,0.858131,0.961669,-0.018038,0.758902
73,"(Insured, LOSS1_Low Claim)",(ATTORNEY APPOINTED),0.892336,0.527372,0.452555,0.507157,0.961669,-0.018038,0.958983
139,"(Insured, LOSS1_Low Claim)","(ATTORNEY APPOINTED, Wearing Seatbelt)",0.892336,0.513686,0.442518,0.495910,0.965395,-0.015862,0.964736
142,"(ATTORNEY APPOINTED, Wearing Seatbelt)","(Insured, LOSS1_Low Claim)",0.513686,0.892336,0.442518,0.861456,0.965395,-0.015862,0.777115
112,(ATTORNEY APPOINTED),"(Insured, Wearing Seatbelt)",0.527372,0.886861,0.451642,0.856401,0.965654,-0.016064,0.787881
109,"(Insured, Wearing Seatbelt)",(ATTORNEY APPOINTED),0.886861,0.527372,0.451642,0.509259,0.965654,-0.016064,0.963090
141,"(ATTORNEY APPOINTED, LOSS1_Low Claim)","(Insured, Wearing Seatbelt)",0.515511,0.886861,0.442518,0.858407,0.967916,-0.014668,0.799042
140,"(Insured, Wearing Seatbelt)","(ATTORNEY APPOINTED, LOSS1_Low Claim)",0.886861,0.515511,0.442518,0.498971,0.967916,-0.014668,0.966988
144,(Insured),"(ATTORNEY APPOINTED, LOSS1_Low Claim, Wearing ...",0.904197,0.504562,0.442518,0.489405,0.969959,-0.013705,0.970314
137,"(ATTORNEY APPOINTED, LOSS1_Low Claim, Wearing ...",(Insured),0.504562,0.904197,0.442518,0.877034,0.969959,-0.013705,0.779103
75,(Insured),"(ATTORNEY APPOINTED, LOSS1_Low Claim)",0.904197,0.515511,0.452555,0.500505,0.970890,-0.013569,0.969957
74,"(ATTORNEY APPOINTED, LOSS1_Low Claim)",(Insured),0.515511,0.904197,0.452555,0.877876,0.970890,-0.013569,0.784473
111,(Insured),"(ATTORNEY APPOINTED, Wearing Seatbelt)",0.904197,0.513686,0.451642,0.499495,0.972375,-0.012831,0.971647